@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 30% 95%;
    --foreground: 0 0% 17%;
    --card: 27 30% 92%;
    --card-foreground: 0 0% 17%;
    --popover: 27 30% 92%;
    --popover-foreground: 0 0% 17%;
    --primary: 356 78% 49%;
    --primary-foreground: 0 0% 98%;
    --secondary: 27 28% 88%;
    --secondary-foreground: 0 0% 17%;
    --muted: 27 28% 88%;
    --muted-foreground: 27 28% 40%;
    --accent: 27 28% 85%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 28% 80%;
    --input: 27 28% 80%;
    --ring: 356 78% 49%;
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 43 93% 50%;
    --chart-3: 191 95% 48%;
    --chart-4: 285 90% 61%;
    --chart-5: 342 94% 61%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 17%;
    --foreground: 0 0% 98%;
    --card: 0 0% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 356 78% 49%;
    --primary-foreground: 0 0% 98%;
    --secondary: 27 28% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 27 28% 25%;
    --muted-foreground: 0 0% 60%;
    --accent: 27 28% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 356 78% 49%;
    --chart-1: 210 40% 98%;
    --chart-2: 43 93% 50%;
    --chart-3: 191 95% 48%;
    --chart-4: 285 90% 61%;
    --chart-5: 342 94% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
